.award {
  padding-block: 150px;

  .row {
    position: relative;
    justify-content: flex-end;
  }

  .info {
    width: 700px;
    padding: 30PX;
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    color: $text-color;
    line-height: 1.7;

    h2 {
      margin-bottom: 15px;
      font-size: 1.5rem;
      color: $bold-blue;
      position: relative;
      font-weight: 900;
    }

    h2::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 8px;
      background-color: $gold;
      right: -20px;
    }

    h2 span {
      color: $gold;
    }

    p {
      margin-bottom: 10px;
      font-size: 1.3rem;
    }

    a {
      color: $light-blue;
    }

    i {
      border-radius: 50%;
      border: solid 2px $light-blue;
      padding: 6px 5px 4px;
      margin-left: 5px;
      color: $light-blue;
      font-size: 0.9rem;
    }
  }

  img {
    border-radius: 0 50px 0 50px;
    width: 500px;
  }

  @media (max-width: 991px) {
    & {
      padding-block: 75px;
    }

    h2::before{
      right: -5px;
      width: 5px;
    }

    .d-flex {
      flex-flow: wrap column;
      align-items: center;
      padding: 0 15px;
    }

    .info {
      position: static;
      margin: auto;
      margin-left: 0;
      margin-bottom: 40px !important;
      padding: 0 20px;
      max-width: 100%;
    }

    img {
      max-width: 100%;
      border-radius: 0 20px 0;
    }

    .info h2 {
      font-size: 1.4rem;
    }

    .info p {
      font-size: 0.9rem;
    }
  }
}
