header {
  position: relative;
  height: 162px;
  z-index: 10;

  .uppperbar {
    padding-block: 20px;
    font-size: 0.8rem;
    color: white;

    .navbar-brand img {
      height: 2.3rem;
    }
  }

  .navbar-dark.bg-dark {
    background-color: transparent !important;
  }

  .account {
    padding-inline: 10px;
    border-left: solid 2px rgba(255, 255, 255, 0.4);
  }

  .account a i {
    padding-left: 5px;
  }

  .account .drowdown-menu {
    padding: 0 5px;
    color: white;
    background-color: transparent;
  }

  .state {
    padding-inline: 20px;
    padding-block: 2px;
    border-left: solid 1.5px rgba(255, 255, 255, 0.7);
  }

  .state i {
    padding-left: 5px;
  }

  .notification {
    position: relative;
    margin-inline: 20px;
  }

  .notification::before {
    content: "";
    position: absolute;
    top: -1px;
    right: 1px;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #cc0000;
    border: white solid 2px;
    border-radius: 50%;
  }

  .search {
    border-right: solid 2.5px rgba(255, 255, 255, 0.7);
    padding-right: 35px;
    margin-right: 0px;
    cursor: pointer;
  }

  .search input {
    border-radius: 15px;
    width: 100px;
    padding: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    color: white;
    background-color: transparent;
  }

  .search input::-moz-focus-inner {
    border-color: transparent;
  }

  .search input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    display: none;
  }

  button.language {
    color: white;
    padding: 7px 20px;
    border-radius: 0 15px 0 15px;
    background-color: $gold;
    margin-left: 10px;
    font-weight: 700;
  }


  @media (max-width: 767px) {
    .navbar-collapse {
      margin-top: 140px;
    }

    .navbar-brand img {
      height: 25px;
    }

    .navbar-nav {
      display: none;
    }

    .account,
    .state {
      padding-right: 0;
    }

    .notification {
      margin-inline: 0;
    }

    .search,
    .notification,
    .state,
    .account {
      border: none;
    }
  }
}

nav {
  .about-award {
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    color: white;
  }

  .about-award-hidden {
    display: none;
  }

  .about-award a {
    padding: 10px 15px;
    transition: all 0.3s linear;
  }

  .about-award a.active,
  .about-award a:hover {
    background-color: $gold;
    border-radius: 5px;
  }

}

@media (max-width: 991px) {
  nav {
    display: none;
  }
}