header {
  height: 100vh;
  background-image: url("../images/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px -30px 20px -0px #000;
  color: white;

  nav {
    .row {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      margin: auto;
      width: 70%;
      margin-top: 20px;
      justify-content: space-between;
      padding-bottom: 15px;
    }

    a {
      font-weight: 700;
      font-size: 1.1rem;
    }
  }

  .landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
    text-align: center;
  }

  .info {
    height: 100%;
    padding-block: 150px;
  }

  .info h1 {
    font-size: 1.8rem;
    margin-bottom: 80px;
  }

  .info a {
    padding: 12px 40px;
    margin-bottom: 60px;
    border-radius: 0 20px 0 20px;
    border: solid 2px white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: $light-blue;
  }

  .info .time-left {
    border-radius: 10px;
    width: 450px;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.7);
    margin: auto;
  }

  .time-left ul {
    display: flex;
    justify-content: space-between;
    color: #3f6f87;
  }

  .time-left span {
    color: white;
    margin-bottom: 15px;
    display: block;
    font-size: 2rem;
    font-weight: 800;
  }

  .time-left li {
    position: relative;
  }

  .time-left li:not(:last-child)::after {
    content: ":";
    position: absolute;
    left: -40px;
    top: -8px;
    font-size: 3rem;
    color: white;
  }
}