.journey {
  padding-block: 100px;

  ul {
    width: 90%;
    margin: auto;
  }

  .winner-feature {
    align-items: center;
  }

  li:nth-child(2) .winner-feature,
  li:last-child .winner-feature {
    flex-direction: row-reverse;
  }

  .feature {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 240px;
    width: 240px;
    transition: all 0.3s ease-in;
    padding: 60px 0;
  }

  .feature p {
    margin-top: -20px;
    transition: all 0.3s ease-in;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .feature span {
    display: inline-block;
    padding: 3px 10px;
    margin-bottom: -20px;
    border-bottom: 4px solid $gold;
    font-size: 2rem;
    font-weight: bolder;
    opacity: 0;
    transition: all 0.3s ease-in;
  }

  li:first-child .feature {
    background-image: url("../images/competetion.jpeg");
    background-size: cover;
  }

  li:nth-child(2) .feature {
    background-image: url("../images/evaluating.jpeg");
  }

  li:nth-child(3) .feature {
    background-image: url("../images/judge.jpeg");
  }

  li:nth-child(4) .feature {
    background-image: url("../images/excellence.png");
  }

  li:nth-child(odd) .feature {
    border-radius: 30px 0 30px;
  }

  li:nth-child(even) .feature {
    border-radius: 0 30px 0 30px;
  }

  .feature-icon-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    flex: 1;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: all 0.3s ease-in;
      background-color: $gold;
      height: 90px;
      width: 90px;
    }

    img {
      width: 50px;
    }
  }

  li:hover .feature-icon-wrapper .img {
    border: solid 2px #8a7c52;
  }

  .info {
    position: relative;
    line-height: 1.8;
    color: $text-color;
    font-weight: bolder;
    overflow: hidden;
    transition: all ease-in .3s;
  }

  .info p {
    transition: all 0.3s ease-in;
  }

  .info a {
    display: inline-block;
    color: $light-blue  !important;
    padding: 0 25px;
  }


  li:hover {
    .feature p {
      margin-top: 0;
    }

    .feature span {
      margin-bottom: 10px;
      font-size: 2.2rem;
      opacity: 1;
    }
  }

  li:nth-child(odd):hover {
    .feature {
      box-shadow: 20px 20px $gold;
    }

    .feature p {
      font-size: 1.5rem;
    }

    .feature-icon-wrapper .img {
      border-radius: 25px 0 25px 0;
    }
  }

  li:nth-child(even):hover {
    .feature {
      box-shadow: -20px 20px $gold;
    }

    .feature p {
      font-size: 1.5rem;
    }

    .feature-icon-wrapper .img {
      border-radius: 0 25px 0 25px;
    }
  }

  @media (max-width: 767px) {
    .winner-feature {
      flex-direction: column !important;
    }

    .feature-icon-wrapper {
      display: none;
    }

    .feature::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100px;
      left: 0%;
      right: 50%;
      bottom: -110px;
      transform: translateX(-50%);
      background-color: $gold;
      transition: all 0.3s ease-in;
    }

    .info::after {
      content: "";
      position: absolute;
      height: 100px;
      bottom: -200px;
      width: 2px;
      right: 50%;
      transform: translateX(-50%);
      background-color: $gold;
    }


    .info p {
      width: 280px;
      padding: 20px;
      border: solid 2px $gold  !important;
      text-align: justify;
      font-size: 0.8rem;
      transform: translateY(-120%);
    }

    li:nth-child(odd) .info p {
      border-radius: 20px 0 20px 0;
    }

    li:nth-child(even) .info p {
      border-radius: 0 20px 0;
    }

    li:hover {
      & .feature {
        margin-bottom: 50px;
      }

      .feature::after {
        bottom: -210px;
        height: 200px;
      }

      .info {
        margin-bottom: 100px;
      }

      .info p {
        transform: translateY(0);
      }
    }
  }

  @media (min-width: 992px) {
    li:not(:first-child) {
      margin-top: -40px;
    }

    .feature-icon-wrapper::after,
    .feature-icon-wrapper::before {
      content: "";
      position: absolute;
      background-color: $gold;
    }

    .feature-icon-wrapper::before {
      height: 3px;
      width: 200px;
      top: 50%;
      transform: translate(-50%);
    }

    li:nth-child(odd) .feature-icon-wrapper::before {
      left: 200px;
    }

    li:nth-child(even) .feature-icon-wrapper::before {
      right: 0;
    }

    li:not(:last-child) .feature-icon-wrapper::after {
      height: 90px;
      width: 3px;
      bottom: -105px;
      right: 50%;
      transform: translate(-50%);
    }

    .info {
      width: 42%;
      font-size: 0.8rem;
    }

    li:nth-child(odd) .info p {
      transform: translateX(100%);
    }

    li:nth-child(even) .info p {
      transform: translateX(-100%);
    }

    li:nth-child(odd):hover p {
      transform: translateX(0);
    }

    li:nth-child(even):hover p {
      transform: translateX(0);
    }
  }
}