.paths {
  .path {
    height: 600px;
    border-bottom: solid 3px white;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    height: 100%;
  }

  .row {
    position: relative;
    align-items: center;
    height: 100%;
  }


  .path.governmental-entities {
    background-image: url("../images/entities.png");
  }

  .path.prive-facilities {
    background-image: url("../images/facilities.png");
  }

  .path.individuals {
    background-image: url("../images/individuals.jpeg");
  }

  .path-title {
    position: relative;
    right: 50%;
    transform: translateX(50%);
    background-color: white;
    border-radius: 0 30px 0 30px;
    padding: 30px;
    text-align: center;
    z-index: 2;
    transition: all .3s linear;

    h3 {
      font-size: 2.5rem;
      margin-bottom: 20px;
      color: $bold-blue;
    }

    p {
      color: $gold;
      font-size: 1.3rem;
      font-weight: 700;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 50px;
      background-color: white;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      top: -80px;
    }

    &::after {
      bottom: -80px;
    }
  }

  .path-info {
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    padding: 40px;
    border-radius: 0 30px 0 30px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    opacity: 0;
    transition: all .3s linear;

    p {
      color: $text-color;
      font-size: 1.4rem;
      line-height: 1.8;
    }

    a {
      display: block;
      margin: 20px auto 0;
      padding: 10px 20px;
      width: fit-content;
      border-radius: 0 15px 0 15px;
      background-color: $light-blue;
      color: white;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  @media(min-width: 991px) {
    .path:hover {
      .path-title {
        transform: translateX(0);
        right: 13%;
      }

      .path-info {
        opacity: 1;
        transform: translateX(0);
        left: 0;
      }
    }

    .path:hover .path-title::before,
    .path:hover .path-title::after {
      display: none;
    }
  }

  @media(max-width: 991px) {
    .path-title h3 {
      font-size: 2.2rem;
    }
  }
}