* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  height: 2000px;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

// media rules for conatiner 
// extra small screens 
@media(max-width: 575px) {
  .container {
    width: 90%;
    padding-inline: 00px !important;
  }
}

// small screen rules 
@media (min-width: 768px) and(max-width: 991px) {
  .container {
    width: 750px;

  }
}

// medium screen rules 
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

// large screen rules 
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

// End media rules


.row {
  display: flex;
}

@import "colors";

.head-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  h2 {
    position: relative;
    color: $bold-blue;
    font-size: 2.5rem;
    margin-bottom: 40px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 120px;
      height: 5px;
      background-color: $gold;
    }

    &::before {
      right: 300px;
    }

    &::after {
      left: 300px;
    }

  }

  p {
    font-size: 1.2rem;
    color: $text-color;
  }

  @media (max-width: 767px) {
    & {
      margin-bottom: 30px;
    }

    h2 {
      font-size: 1.8rem !important;
    }

    h2::before,
    h2::after {
      width: 90px;
    }

    h2::before {
      right: 240px;
    }

    h2::after {
      left: 240px;
    }

    p {
      font-size: 1rem;
      text-align: center
    }
  }
}


@import "upperbar";
@import "header";
@import "award";
@import "paths";
@import "journey";
@import "footer";