@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Bold.ttf");
  src: url("../fonts/Almarai-Bold.woff"), url("../fonts/Almarai-Bold.woff2");
  src: url("../fonts/Almarai-Regular.ttf");
  src: url("../fonts/Almarai-Regular.woff"), url("../fonts/Almarai-Regular.woff2");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Almarai";
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer;
}

.gold {
  color: #b3a16d;
}

.head-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.head-section h2 {
  margin-bottom: 40px;
  color: #1a3d60;
  font-size: 2.5rem;
  font-weight: bolder;
}

.head-section::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 120px;
  height: 5px;
  background-color: #b3a16d;
}

.head-section p {
  font-size: 1.2rem;
  color: #54565b;
}

@media (max-width: 767px) {
  .head-section {
    margin-bottom: 100px;
  }
  .head-section h2 {
    font-size: 1.6rem !important;
  }
  .head-section p {
    font-size: 1rem;
    text-align: center;
  }
}

header {
  position: relative;
  height: 162px;
  z-index: 10;
}

header .uppperbar {
  padding-block: 20px;
  font-size: 0.8rem;
  color: white;
}

header .uppperbar .navbar-brand img {
  height: 2.3rem;
}

header .navbar-dark.bg-dark {
  background-color: transparent !important;
}

header .account {
  padding-inline: 10px;
  border-left: solid 2px rgba(255, 255, 255, 0.4);
}

header .account a i {
  padding-left: 5px;
}

header .account .drowdown-menu {
  padding: 0 5px;
  color: white;
  background-color: transparent;
}

header .state {
  padding-inline: 20px;
  padding-block: 2px;
  border-left: solid 1.5px rgba(255, 255, 255, 0.7);
}

header .state i {
  padding-left: 5px;
}

header .notification {
  position: relative;
  margin-inline: 20px;
}

header .notification::before {
  content: "";
  position: absolute;
  top: -1px;
  right: 1px;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #cc0000;
  border: white solid 2px;
  border-radius: 50%;
}

header .search {
  border-right: solid 2.5px rgba(255, 255, 255, 0.7);
  padding-right: 35px;
  margin-right: 0px;
  cursor: pointer;
}

header .search input {
  border-radius: 15px;
  width: 100px;
  padding: 5px;
  border: none;
  outline: none;
  font-weight: bold;
  color: white;
  background-color: transparent;
}

header .search input::-moz-focus-inner {
  border-color: transparent;
}

header .search input[type="search"]::-webkit-search-decoration,
header input[type="search"]::-webkit-search-cancel-button,
header input[type="search"]::-webkit-search-results-button,
header input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

header button.language {
  color: white;
  padding: 7px 20px;
  border-radius: 0 15px 0 15px;
  background-color: #b3a16d;
  margin-left: 10px;
  font-weight: 700;
}

@media (max-width: 767px) {
  header .navbar-collapse {
    margin-top: 140px;
  }
  header .navbar-brand img {
    height: 25px;
  }
  header .navbar-nav {
    display: none;
  }
  header .account,
  header .state {
    padding-right: 0;
  }
  header .notification {
    margin-inline: 0;
  }
  header .search,
  header .notification,
  header .state,
  header .account {
    border: none;
  }
}

nav .about-award {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin: auto;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  color: white;
}

nav .about-award-hidden {
  display: none;
}

nav .about-award a {
  padding: 10px 15px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

nav .about-award a.active,
nav .about-award a:hover {
  background-color: #b3a16d;
  border-radius: 5px;
}

@media (max-width: 991px) {
  nav {
    display: none;
  }
}

.landing {
  position: relative;
  height: 100vh;
  text-align: center;
  margin-top: -162px;
}

.landing .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 162px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.landing::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 23.5vh;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 2;
}

.landing .info {
  margin-top: 81px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

.landing .owl-carousel {
  height: 100vh;
  position: relative;
}

.landing .owl-carousel .item {
  height: 100vh !important;
}

.landing .owl-nav {
  padding: 20px;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.landing .owl-carousel .owl-nav button.owl-next,
.landing .owl-carousel .owl-nav button.owl-prev,
.landing .owl-carousel button.owl-dot {
  background-color: transparent !important;
}

.landing .owl-carousel .owl-nav button.owl-next img,
.landing .owl-carousel .owl-nav button.owl-prev img,
.landing .owl-carousel button.owl-dot img {
  height: 4rem;
}

.landing .info h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 3rem;
  text-shadow: 0 3px 8px #000000;
}

.landing .info a {
  padding: 6px 30px;
  margin-bottom: 60px;
  border-radius: 0 20px 0 20px;
  border: solid 2px white;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #0faad0;
}

.landing .info .time-left {
  border-radius: 10px;
  width: 450px;
  padding: 21px 40px 0;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
}

.landing .time-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3f6f87;
  margin: 0;
}

.landing .time-left span {
  width: 30px;
  display: block;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.landing .time-left li {
  position: relative;
}

.landing .time-left li:not(:last-child) span::after {
  content: ":";
  position: absolute;
  left: -40px;
  top: -10px;
  font-size: 3rem;
  color: white;
}

@media (max-width: 767px) {
  .landing .owl-nav {
    padding: 10px;
  }
  .landing .owl-carousel .owl-nav button.owl-next img,
  .landing .owl-carousel .owl-nav button.owl-prev img,
  .landing .owl-carousel button.owl-dot img {
    height: 2rem;
  }
  .landing .about-award-hidden {
    display: block !important;
  }
  .landing .about-award-hidden li {
    padding: 10px 0 10px 10px;
  }
}

@media (max-width: 991px) {
  .landing .info h1 {
    font-size: 1.2rem;
    margin-inline: 15px;
  }
  .landing .info a {
    font-size: 0.8rem;
    padding-inline: 30px;
  }
  .landing .info .time-left {
    width: 250px;
  }
  .landing .info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
  .landing .time-left li:not(:last-child) span::after {
    font-size: 1rem;
    left: -10px;
    top: 1px;
  }
}

.award {
  padding-block: 150px;
}

.award .row {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.award .info {
  width: 700px;
  padding: 30PX;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #54565b;
  line-height: 1.7;
}

.award .info h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #1a3d60;
  position: relative;
  font-weight: 900;
}

.award .info h2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: #b3a16d;
  right: -20px;
}

.award .info h2 span {
  color: #b3a16d;
}

.award .info p {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.award .info a {
  color: #0faad0;
}

.award .info i {
  border-radius: 50%;
  border: solid 2px #0faad0;
  padding: 6px 5px 4px;
  margin-left: 5px;
  color: #0faad0;
  font-size: 0.9rem;
}

.award img {
  border-radius: 0 50px 0 50px;
  width: 500px;
}

@media (max-width: 991px) {
  .award {
    padding-block: 75px;
  }
  .award h2::before {
    right: -5px;
    width: 5px;
  }
  .award .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 15px;
  }
  .award .info {
    position: static;
    margin: auto;
    margin-left: 0;
    margin-bottom: 40px !important;
    padding: 0 20px;
    max-width: 100%;
  }
  .award img {
    max-width: 100%;
    border-radius: 0 20px 0;
  }
  .award .info h2 {
    font-size: 1.4rem;
  }
  .award .info p {
    font-size: 0.9rem;
  }
}

.paths .path {
  height: 600px;
  border-bottom: solid 3px white;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.paths .path::before, .paths .path::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 50px;
  background-color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.paths .path::before {
  top: 100px;
}

.paths .path::after {
  bottom: 100px;
}

.paths .path:hover::before {
  top: -0;
  opacity: 0;
}

.paths .path:hover::after {
  bottom: -0;
  opacity: 0;
}

.paths .container {
  height: 100%;
}

.paths .d-flex {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.paths .path.governmental-entities {
  background-image: url("../images/entities.png");
}

.paths .path.prive-facilities {
  background-image: url("../images/facilities.png");
}

.paths .path.individuals {
  background-image: url("../images/individuals.jpeg");
}

.paths .path-title {
  position: relative;
  background-color: white;
  border-radius: 0 30px 0 30px;
  padding: 30px;
  text-align: center;
  z-index: 2;
  -webkit-transition-delay: 0.3s !important;
          transition-delay: 0.3s !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.paths .path-title h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 15px;
  color: #1a3d60;
}

.paths .path-title p {
  color: #b3a16d;
  font-size: 1.3rem;
  font-weight: 700;
}

.paths .path-info {
  border-radius: 0 30px 0 30px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.paths .path-info p {
  color: #54565b;
  font-size: 1.4rem;
  line-height: 1.8;
}

.paths .path-info a {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 15px 0 15px;
  background-color: #0faad0;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

@media (max-width: 991px) {
  .paths .path {
    min-height: 600px;
    padding-bottom: 50px;
  }
  .paths .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .paths .path-title {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .paths .path-info {
    top: 20%;
    text-align: center;
  }
  .paths .path-info p {
    font-size: 1rem;
  }
  .paths .path:hover .path-info {
    top: 30%;
    padding: 40px;
    opacity: 1;
  }
  .paths .path:hover .path-title {
    top: 20%;
  }
  .paths .path-title h3 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .paths .path-title p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .paths .path-title {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    padding: 20px;
  }
  .paths .path:hover .path-title {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    right: 13%;
  }
  .paths .path:hover .path-info {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    left: 0;
  }
  .paths .path-info {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 600px;
    padding: 40px;
  }
}

.journey {
  padding-block: 100px;
}

.journey ul {
  width: 90%;
  margin: auto;
}

.journey .winner-feature {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.journey li:nth-child(2) .winner-feature,
.journey li:last-child .winner-feature {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.journey .feature {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 240px;
  width: 240px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 60px 0;
}

.journey .feature p {
  margin-top: -20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-size: 1.3rem;
  font-weight: bolder;
}

.journey .feature span {
  display: inline-block;
  padding: 3px 10px;
  margin-bottom: -20px;
  border-bottom: 4px solid #b3a16d;
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.journey li:first-child .feature {
  background-image: url("../images/competetion.jpeg");
  background-size: cover;
}

.journey li:nth-child(2) .feature {
  background-image: url("../images/evaluating.jpeg");
}

.journey li:nth-child(3) .feature {
  background-image: url("../images/judge.jpeg");
}

.journey li:nth-child(4) .feature {
  background-image: url("../images/excellence.png");
}

.journey li:nth-child(odd) .feature {
  border-radius: 30px 0 30px;
}

.journey li:nth-child(even) .feature {
  border-radius: 0 30px 0 30px;
}

.journey .feature-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.journey .feature-icon-wrapper .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #b3a16d;
  height: 90px;
  width: 90px;
}

.journey .feature-icon-wrapper img {
  width: 50px;
}

.journey li:hover .feature-icon-wrapper .img {
  border: solid 2px #8a7c52;
}

.journey .info {
  position: relative;
  line-height: 1.8;
  color: #54565b;
  font-weight: bolder;
  overflow: hidden;
  -webkit-transition: all ease-in .3s;
  transition: all ease-in .3s;
}

.journey .info p {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.journey .info a {
  display: inline-block;
  color: #0faad0 !important;
  padding: 0 25px;
}

.journey li:hover .feature p {
  margin-top: 0;
}

.journey li:hover .feature span {
  margin-bottom: 10px;
  font-size: 2.2rem;
  opacity: 1;
}

.journey li:nth-child(odd):hover .feature {
  -webkit-box-shadow: 20px 20px #b3a16d;
          box-shadow: 20px 20px #b3a16d;
}

.journey li:nth-child(odd):hover .feature p {
  font-size: 1.5rem;
}

.journey li:nth-child(odd):hover .feature-icon-wrapper .img {
  border-radius: 25px 0 25px 0;
}

.journey li:nth-child(even):hover .feature {
  -webkit-box-shadow: -20px 20px #b3a16d;
          box-shadow: -20px 20px #b3a16d;
}

.journey li:nth-child(even):hover .feature p {
  font-size: 1.5rem;
}

.journey li:nth-child(even):hover .feature-icon-wrapper .img {
  border-radius: 0 25px 0 25px;
}

@media (max-width: 767px) {
  .journey .winner-feature {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .journey .feature-icon-wrapper {
    display: none;
  }
  .journey .feature::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100px;
    left: 0%;
    right: 50%;
    bottom: -110px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #b3a16d;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .journey .info::after {
    content: "";
    position: absolute;
    height: 100px;
    bottom: -200px;
    width: 2px;
    right: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #b3a16d;
  }
  .journey .info p {
    width: 280px;
    padding: 20px;
    border: solid 2px #b3a16d !important;
    text-align: justify;
    font-size: 0.8rem;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }
  .journey li:nth-child(odd) .info p {
    border-radius: 20px 0 20px 0;
  }
  .journey li:nth-child(even) .info p {
    border-radius: 0 20px 0;
  }
  .journey li:hover .feature {
    margin-bottom: 50px;
  }
  .journey li:hover .feature::after {
    bottom: -210px;
    height: 200px;
  }
  .journey li:hover .info {
    margin-bottom: 100px;
  }
  .journey li:hover .info p {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (min-width: 992px) {
  .journey li:not(:first-child) {
    margin-top: -40px;
  }
  .journey .feature-icon-wrapper::after,
  .journey .feature-icon-wrapper::before {
    content: "";
    position: absolute;
    background-color: #b3a16d;
  }
  .journey .feature-icon-wrapper::before {
    height: 3px;
    width: 200px;
    top: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .journey li:nth-child(odd) .feature-icon-wrapper::before {
    left: 200px;
  }
  .journey li:nth-child(even) .feature-icon-wrapper::before {
    right: 0;
  }
  .journey li:not(:last-child) .feature-icon-wrapper::after {
    height: 90px;
    width: 3px;
    bottom: -105px;
    right: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .journey .info {
    width: 42%;
    font-size: 0.8rem;
  }
  .journey li:nth-child(odd) .info p {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .journey li:nth-child(even) .info p {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .journey li:nth-child(odd):hover p {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .journey li:nth-child(even):hover p {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

footer {
  background-image: url(../images/footer.jpeg);
  padding: 75px 0 20px;
  color: white;
}

footer .info-and-links {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  padding-bottom: 30px;
}

footer .column:first-child {
  width: 35%;
}

footer .column:not(:first-child) {
  width: 25%;
}

footer p {
  line-height: 1.7;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .links li {
  font-size: 0.8rem;
  margin-bottom: 25px;
  margin-right: 30px;
}

footer .links i {
  margin-left: 10px;
}

footer .contacts {
  direction: ltr;
}

footer .contacts .social-icons {
  padding-bottom: 20px;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

footer .contacts .social-icons li {
  margin-right: 25px;
  font-size: 0.9rem;
}

footer .contacts address {
  all: initial;
  display: block;
  margin-block: 20px;
  color: white;
  font-family: "Cairo", sans-serif !important;
}

footer .contacts address:last-child {
  padding-top: 20px;
  border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}

footer .contacts address i {
  margin-right: 10px;
}

footer .img {
  margin-bottom: 30px;
}

footer .rights p {
  font-size: .8rem;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  footer .info-and-links,
  footer .rights {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .column {
    width: 100% !important;
    text-align: center;
  }
  footer .column.links ul {
    padding: 0 !important;
    margin-block: 50px;
    width: 100%;
  }
  footer .contacts .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .contacts address {
    text-align: center;
  }
  footer .rights {
    text-align: center;
  }
  footer .privacy-and-terms {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=main.css.map */