* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  height: 2000px;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 575px) {
  .container {
    width: 90%;
    padding-inline: 00px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.head-section h2 {
  position: relative;
  color: #1a3d60;
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.head-section h2::before, .head-section h2::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 120px;
  height: 5px;
  background-color: #b3a16d;
}

.head-section h2::before {
  right: 300px;
}

.head-section h2::after {
  left: 300px;
}

.head-section p {
  font-size: 1.2rem;
  color: #54565b;
}

@media (max-width: 767px) {
  .head-section {
    margin-bottom: 30px;
  }
  .head-section h2 {
    font-size: 1.8rem !important;
  }
  .head-section h2::before,
  .head-section h2::after {
    width: 90px;
  }
  .head-section h2::before {
    right: 240px;
  }
  .head-section h2::after {
    left: 240px;
  }
  .head-section p {
    font-size: 1rem;
    text-align: center;
  }
}

.uppperbar {
  padding-block: 30px;
  background-color: #000;
  font-size: 0.8rem;
  -webkit-box-shadow: 0 20px 100px 50px #000;
          box-shadow: 0 20px 100px 50px #000;
}

.uppperbar .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.uppperbar .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uppperbar .navbar-brand img {
  height: 40px;
}

.uppperbar .options {
  padding-block: 15px;
}

.uppperbar .options .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uppperbar .options .account {
  padding-inline: 10px;
  border-left: solid 2px rgba(255, 255, 255, 0.4);
}

.uppperbar .options .account a i {
  padding-left: 5px;
}

.uppperbar .options .account .drowdown-menu {
  margin-inline: 5px;
  color: white;
  background-color: transparent;
}

.uppperbar .options .state {
  padding-inline: 20px;
  padding-block: 2px;
  border-left: solid 1.5px rgba(255, 255, 255, 0.7);
}

.uppperbar .options .state i {
  padding-left: 5px;
}

.uppperbar .options .notification {
  position: relative;
  padding-inline: 20px;
  border-left: solid 1.5px rgba(255, 255, 255, 0.7);
  font-size: 10px;
}

.uppperbar .options .notification::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 19px;
  width: 6px;
  height: 6px;
  background-color: #cc0000;
  border: white solid 2px;
  border-radius: 50%;
}

.uppperbar .options .search {
  position: relative;
  padding-right: 15px;
  margin-right: 20px;
  cursor: pointer;
}

.uppperbar .options .search input {
  width: 100px;
  border-radius: 15px;
  border: none;
  outline: none;
  padding: 5px;
  color: white;
  background-color: transparent;
}

.uppperbar .options .search::after {
  content: "\f002";
  position: absolute;
  font-family: "fontAwesome";
  font-size: 16px;
  right: -7px;
  top: 4px;
}

.uppperbar .options .search input[type="search"]::-webkit-search-decoration,
.uppperbar .options input[type="search"]::-webkit-search-cancel-button,
.uppperbar .options input[type="search"]::-webkit-search-results-button,
.uppperbar .options input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.uppperbar .options button.language {
  color: white;
  padding: 10px 20px;
  border-radius: 0 15px 0 15px;
  background-color: #b3a16d;
  margin-left: 20px;
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .uppperbar .navbar-brand img {
    height: 25px;
  }
  .uppperbar .options {
    display: none;
  }
}

header {
  height: 100vh;
  background-image: url("../images/header.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px -30px 20px -0px #000;
          box-shadow: inset 0px -30px 20px -0px #000;
  color: white;
}

header nav .row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: auto;
  width: 70%;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

header nav a {
  font-weight: 700;
  font-size: 1.1rem;
}

@media (max-width: 991px) {
  header nav {
    display: none;
  }
}

header .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc(100vh - 72px);
  text-align: center;
}

header .info {
  height: 100%;
  padding-block: 150px;
}

header .info h1 {
  font-size: 1.8rem;
  margin-bottom: 80px;
}

header .info a {
  padding: 12px 40px;
  margin-bottom: 60px;
  border-radius: 0 20px 0 20px;
  border: solid 2px white;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #0faad0;
}

header .info .time-left {
  border-radius: 10px;
  width: 450px;
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
}

header .time-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #3f6f87;
}

header .time-left span {
  color: white;
  margin-bottom: 15px;
  display: block;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

header .time-left li {
  position: relative;
}

header .time-left li:not(:last-child) span::after {
  content: ":";
  position: absolute;
  left: -40px;
  top: -8px;
  font-size: 3rem;
  color: white;
}

@media (max-width: 991px) {
  header .info h1 {
    font-size: 1.2rem;
    margin-inline: 15px;
  }
  header .info a {
    font-size: .8rem;
    padding-inline: 30px;
  }
  header .info .time-left {
    width: 250px;
  }
  header .info span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.2rem;
  }
  header .time-left li:not(:last-child) span::after {
    font-size: 1rem;
    left: -10px;
    top: 1px;
  }
}

.award {
  padding-block: 150px;
}

.award .row {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.award .info {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 700px;
  padding: 20px;
  border-right: solid 10px #b3a16d;
  background-color: rgba(255, 255, 255, 0.8);
  color: #54565b;
  line-height: 1.7;
}

.award .info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #1a3d60;
}

.award .info h2 span {
  color: #b3a16d;
}

.award .info p {
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.award .info a {
  color: #0faad0;
}

.award .info i {
  border-radius: 50%;
  border: solid 3px #0faad0;
  padding: 6px 5px 5px 5px;
  margin-left: 5px;
  font-size: .9rem;
}

.award img {
  border-radius: 0 50px 0 50px;
}

@media (max-width: 991px) {
  .award .info {
    position: static;
    margin: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .award .info h2 {
    font-size: 1.4rem;
  }
  .award .info p {
    font-size: .9rem;
  }
  .award .img {
    display: none;
  }
}

.paths .path {
  height: 600px;
  border-bottom: solid 3px white;
  background-repeat: no-repeat;
  background-size: cover;
}

.paths .container {
  height: 100%;
}

.paths .row {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.paths .path.governmental-entities {
  background-image: url("../images/entities.png");
}

.paths .path.prive-facilities {
  background-image: url("../images/facilities.png");
}

.paths .path.individuals {
  background-image: url("../images/individuals.jpeg");
}

.paths .path:hover .path-title {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  right: 13%;
}

.paths .path:hover .path-info {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  left: 0;
}

.paths .path:hover .path-title::before,
.paths .path:hover .path-title::after {
  display: none;
}

.paths .path-title {
  position: relative;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: white;
  border-radius: 0 30px 0 30px;
  padding: 30px;
  text-align: center;
  z-index: 2;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.paths .path-title h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #1a3d60;
}

.paths .path-title p {
  color: #b3a16d;
  font-size: 1.3rem;
  font-weight: 700;
}

.paths .path-title::before, .paths .path-title::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 50px;
  background-color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.paths .path-title::before {
  top: -80px;
}

.paths .path-title::after {
  bottom: -80px;
}

.paths .path-info {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 600px;
  padding: 40px;
  border-radius: 0 30px 0 30px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.paths .path-info p {
  color: #54565b;
  font-size: 1.4rem;
  line-height: 1.8;
}

.paths .path-info a {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 15px 0 15px;
  background-color: #0faad0;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.journey {
  padding-block: 100px;
}

.journey .row {
  margin: 200px auto 0;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.journey .winner-feature {
  position: relative;
}

.journey .winner-feature > .img-feature {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b3a16d;
  border: solid 2px #8a7c52;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.journey .img,
.journey .info {
  position: absolute;
}

.journey .info {
  height: 200px;
  top: 20px;
  overflow: hidden;
}

.journey .info p {
  width: 500px;
  color: #54565b;
  line-height: 1.7;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.journey .info i {
  margin-right: 5px;
  border-radius: 50%;
  border: solid 2px #0faad0;
  padding: 3px;
  font-size: .3rem;
}

.journey .info a {
  color: #0faad0;
  font-weight: 700;
}

.journey .winner-feature:first-child .img,
.journey .winner-feature:nth-child(3) .img {
  left: 300px;
  top: -50px;
}

.journey .winner-feature:first-child .info,
.journey .winner-feature:nth-child(3) .info {
  right: 120px;
}

.journey .winner-feature:first-child .info p,
.journey .winner-feature:nth-child(3) .info p {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.journey .winner-feature:nth-child(2) .img,
.journey .winner-feature:last-child .img {
  right: 300px;
  top: -50px;
}

.journey .winner-feature:nth-child(2) .info,
.journey .winner-feature:last-child .info {
  left: 120px;
}

.journey .winner-feature:nth-child(2) .info p,
.journey .winner-feature:last-child .info p {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.journey .winner-feature:first-child .img img,
.journey .winner-feature:nth-child(3) .img img {
  border-radius: 30px 0 30px;
}

.journey .winner-feature:nth-child(2) .img img,
.journey .winner-feature:last-child .img img {
  border-radius: 0 30px 0 30px;
}

.journey .img img {
  width: 220px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.journey .winner-feature::before {
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  position: absolute;
  background-color: #b3a16d;
  width: 190px;
  height: 2px;
}

.journey .winner-feature:first-child::before,
.journey .winner-feature:nth-child(3)::before {
  left: 104px;
}

.journey .winner-feature:nth-child(2)::before,
.journey .winner-feature:last-child::before {
  right: 104px;
}

.journey .winner-feature:not(:last-child)::after {
  content: "";
  right: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  bottom: -115px;
  background-color: #b3a16d;
  width: 2px;
  height: 110px;
}

.journey .winner-feature:hover:first-child .img-feature,
.journey .winner-feature:hover:nth-child(3) .img-feature {
  border-radius: 20px 0 20px;
}

.journey .winner-feature:hover:nth-child(2) .img-feature,
.journey .winner-feature:hover:last-child .img-feature {
  border-radius: 0 20px 0 20px;
}

.journey .winner-feature:hover .img-feature {
  border: none;
  background-color: #b3a16d;
}

.journey .winner-feature:hover:first-child .img img,
.journey .winner-feature:hover:nth-child(3) .img img {
  -webkit-box-shadow: 15px 15px #b3a16d;
          box-shadow: 15px 15px #b3a16d;
}

.journey .winner-feature:hover:nth-child(2) .img img,
.journey .winner-feature:hover:last-child .img img {
  -webkit-box-shadow: -15px 15px #b3a16d;
          box-shadow: -15px 15px #b3a16d;
}

.journey .winner-feature:hover .info p {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

footer {
  background-image: url(../images/footer.jpeg);
  padding-block: 100px;
  color: white;
}

footer .row {
  border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

footer .column:first-child {
  width: 35%;
}

footer .column:not(:first-child) {
  width: 25%;
}

footer p {
  line-height: 1.7;
}

footer .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .links li {
  font-size: .8rem;
  margin-bottom: 25px;
  margin-left: 30px;
}

footer .links i {
  margin-left: 10px;
}

footer .contacts {
  direction: ltr;
}

footer .contacts .social-icons {
  padding-bottom: 20px;
  border-bottom: solid 0.5px rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

footer .contacts .social-icons li {
  margin-right: 25px;
  font-size: .9rem;
}

footer .contacts address {
  all: initial;
  display: block;
  margin-block: 20px;
  color: white;
  font-family: "Cairo", sans-serif !important;
}

footer .contacts address:last-child {
  padding-top: 20px;
  border-top: solid 0.5px rgba(255, 255, 255, 0.3);
}

footer .contacts address i {
  margin-right: 10px;
}

footer .img {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  footer .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  footer .column {
    width: 100% !important;
    text-align: center;
  }
  footer .column.links ul {
    margin-block: 50px;
    width: 100%;
  }
  footer .contacts .social-icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .contacts address {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */