@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Bold.ttf");
  src: url("../fonts/Almarai-Bold.woff"), url("../fonts/Almarai-Bold.woff2");
  src: url("../fonts/Almarai-Regular.ttf");
  src: url("../fonts/Almarai-Regular.woff"),
    url("../fonts/Almarai-Regular.woff2");
}

@import "colors";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Almarai";
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer;
}

.gold {
  color: $gold;
}

.head-section {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;

  h2 {
    margin-bottom: 40px;
    color: $bold-blue;
    font-size: 2.5rem;
    font-weight: bolder;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 5px;
    background-color: $gold;
  }

  p {
    font-size: 1.2rem;
    color: $text-color;
  }

  @media (max-width: 767px) {
    & {
      margin-bottom: 100px;
    }

    h2 {
      font-size: 1.6rem !important;
    }

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}

@import "sections/header";
@import "sections/landing";
@import "sections/award";
@import "sections/paths";
@import "sections/journey";
@import "sections/footer";
