* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  height: 2000px;
}

ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-inline: auto;
}

.row {
  display: flex;
}

@import "colors";

.head-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  h2 {
    position: relative;
    color: $bold-blue;
    font-size: 2.5rem;
    margin-bottom: 40px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 25px;
      width: 120px;
      height: 5px;
      background-color: $gold;
    }

    &::before {
      right: 300px;
    }

    &::after {
      left: 300px;
    }
  }
  p {
    font-size: 1.2rem;
    color: $text-color;
  }
}

@import "header";
@import "award";
@import "paths";
@import "journey";
@import "footer";
